<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dev.bookServer.mapper.TUserInfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dev.bookServer.entity.TUserInfo">
        <result column="user_id" property="userId" />
        <result column="real_name" property="realName" />
        <result column="id_number" property="idNumber" />
        <result column="address" property="address" />
        <result column="sex" property="sex" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, real_name, id_number, address, sex, create_date, update_date
    </sql>

</mapper>
